[Unit]
Description=Rendering Service
Documentation=https://github.com/nayutaya/thermal-printer/blob/master/service/rendering/README.md
Requires=docker.service
After=docker.service

[Service]
Type=simple
Environment=IMAGE_NAME=thermal-printer/service/rendering
Environment=CONTAINER_NAME=thermal-printer_service_rendering
ExecStartPre=-/usr/bin/docker stop ${CONTAINER_NAME}
ExecStartPre=-/usr/bin/docker rm   ${CONTAINER_NAME}
ExecStart=docker run \
  --publish 3031:8080 \
  --name ${CONTAINER_NAME} \
  ${IMAGE_NAME}

[Install]
WantedBy=multi-user.target
